{% extends "dashboard/dashboard_base.html" %}
{% block content %}
<div class="w-90 mx-auto pl-5 pt-5">
<span class="h2 pt-2">Subscription(s)</span>
<hr>
<div class="mt-5">
  <table class="table table-hover">
    <thead>
      <tr style="color: #889B95">
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Phishing Emails Detected</th>
        <th class="text-center" scope="col">Detection History</th>
        <th class="text-center" scope="col">Last Updated</th>
        <th class="text-center" scope="col">Active Status</th>
        <th class="text-center" scope="col">Clean Mailbox</th>
        <th class="text-center" scope="col">Change Password</th>
        <th class="text-center" scope="col">Activate</th>
      </tr>
    </thead>
    <tbody>
      {% for email in user_emails %}
      <tr>
        <td class="text-center">{{ email.get_email_address() }}</td>
        <td class="text-center">{{ email.get_phishing_mail_detected() }}</td>
        <td class="text-center"> <a class="lni lni-keyword-research" id="{{ email.email_id }}" name="{{ email.email_address }}" href="#" onclick="history({{ email.get_email_id() }});"></a></td>
        {% if email.get_last_updated() is none %}
          <td class="text-center">Never</td>
        {% else %}
          <td class="text-center">{{ email.get_prettified_date() }}</td>
        {% endif %}
        {% if email.get_active_status() %}
          <td class="text-center" name="status-{{ email.email_address }}">Active</td>
        {% else %}
          <td class="text-center" name="status-{{ email.email_address }}">Inactive</td>
        {% endif %}
        <td class="text-center"> <a class="lni lni-brush" id="{{ email.email_id }}" name="{{ email.email_address }}" href="#" onclick="phish({{ email.get_email_id() }});"></a></td>
        <td class="text-center"> <a class="lni lni-pencil"></a></td>
        <td class="text-center"> <a class="lni lni-power-switch" id="{{ email.email_id }}" name="activate-{{ email.email_address}}" href="#" onclick="activate({{ email.get_email_id() }});"></a></td>
      </tr>
      {% endfor %}
    </table>
    </div>
  <hr>
  <!-- Button trigger modal -->
  <button type="button" class="main-btn m-2" data-toggle="modal" data-target="#addMailModal">
    Add New Email
  </button>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <span class="alert alert-danger">{{ message }}</span>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Modal -->
  <div class="modal fade" id="addMailModal" tabindex="-1" role="dialog" aria-labelledby="addMailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMailModalLabel">Add New Email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="modal-body">
            <div class="p-2">
              {{ form.email_address.label}}
              {{ form.email_address(class='form-control') }}
            </div>
            {% for error in form.email_address.errors %}
            <span> {{ error }} </span>
            {% endfor %}
            <div class="p-2">
              {{ form.password.label }}
              {{ form.password(class='form-control') }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="main-btn" data-dismiss="modal">Close</button>
            {{ form.submit(class='main-btn') }}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <script>
    function phish(mail_id) {
      var names = document.getElementById(mail_id).name;
      let url = "emails/phish/" + mail_id;
      window.location.href = url;
    }

    function activate(mail_id) {
      window.location.href = "emails/activation/" + mail_id;
    }

    function history(mail_id) {
      window.location.href = "emails/history/" + mail_id
    }
  </script>

  {% endblock %}
