{% extends "dashboard/dashboard_base.html" %}
<!doctype html>
<html class="no-js" lang="en">
<style>

</style>
<body>
{% block content %}
  <h2>Dashboard</h2>
  <div class="row">
      <div class="col-12 col-md-6">
        <canvas id="myChart" width="300" height="200"></canvas>
      </div>
      <div class="col-12 col-md-6">
        <canvas id="myChart2" width="300" height="200"></canvas>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var ctx2 = document.getElementById("myChart2");


  <!--values (y-axis) to be updated here//-->
  var emailsD = [9, 12, 18, 3, 15];
  var emailsM = [9, 12, 21, 0, 15];

  <!--values (x-axis) to be updated here//-->
  var dates = ["08Nov20", "30Dec20", "02Jan21", "15Jan21", "21Mar21"];
  var months = ["Nov20", "Dec20", "Jan21", "Feb21", "Mar21"]

  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: dates,
      datasets: [
        {
          label: "Number of Phishing Emails / Day",
          data: emailsD,
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1
        }
      ]
    }
  });

  var myChart2 = new Chart(ctx2, {
    type: "line",
    data: {
      labels: months,
      datasets: [
        {
          label: "Number of Phishing Emails / Month",
          data: emailsM,
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1
        }
      ]
    }
  });
</script>
{% endblock %}
</body>
</html>
