{% extends "dashboard/dashboard_base.html" %}

{% block content %}
<div class="container ml-5">
  <div class="row">
    <div class="col-12">
      <span class="h2 pb-5">Dashboard</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card proj-progress-card">
        <div class="card-body">
          <h6>Active Email Addresses</h6>
          <p id="emailactive"></p>
          <progress id="progress_bar" value="0" max="0"></progress>
        </div>
      </div>
    </div>
    <div class="col-9"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-c-today">
        <div class="card-body">
          <div class="text-white">Today Detection</div>
          <div id="today-detected" class="text-white"></div>
          <div class="col-auto">
            <i class="fas fa-eye bg-c-blue"></i>
          </div>
          <div class="card-footer bg-c-today">
            <p class="text-white"><i class="lni lni-alarm-clock"></i> Updated</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-c-weekly">
        <div class="card-body text-info">
          <div class="text-white">Weekly Detection</div>
          <div id="weekly-detected" class="text-white"></div>
          <i class="fas fa-bullseye bg-c-green"></i>
          <div class="card-footer bg-c-weekly">
            <p class="text-white"><i class="lni lni-alarm-clock"></i> Updated</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-c-monthly">
        <div class="card-body">
          <div class="text-white">Monthly Detection</div>
          <div id="monthly-detected" class="text-white"></div>
          <div class="col-auto">
            <i class="fas fa-bullseye bg-c-green"></i>
          </div>
          <div class="card-footer bg-c-monthly">
            <p class="text-white"><i class="lni lni-alarm-clock"></i> Updated</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-c-all">
       <div class="card-body">
          <div class="text-white">All Time Detection</div>
          <div id="all-time-detected" class="text-white"></div>
          <div class="col-auto">
            <i class="fas fa-bullseye bg-c-green"></i>
          </div>
          <div class="card-footer bg-c-all">
            <p class="text-white"><i class="lni lni-alarm-clock"></i> Updated</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Monthly Overview</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="overview" class="chart-canvas" width="1000" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
  // -- Bar chart START
  var ctx = document.getElementById("overview");
  var monthly_stats = {{ monthly_stats }}
  var dates = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

  var overview = new Chart(ctx, {
    type: "bar",
    options: {
      legend: {
        display: false
      }
    },
    data: {
      labels: dates,
      datasets: [
      {
        data: monthly_stats,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor:  [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 2,
        barThickness: 6,
        maxBarThickness: 8,
        minBarLength: 4,
      }
    ],
    }
  });
  // -- Bar Chart END

  // Card values
  // Active Email Addresses display
  var email_active = {{ statistics['email_active'] }}
  var email_stats =  {{ statistics['email_stats'] }}
  var all_time_detected = {{ statistics['all_time'] }}
  var monthly_detected = {{ statistics['monthly'] }}
  var weekly_detected = {{ statistics['weekly'] }}
  var today_detected = {{ statistics['today'] }}


  document.getElementById("emailactive").innerHTML = email_active;
  document.getElementById("progress_bar").value = email_active;
  document.getElementById("progress_bar").max = email_stats;

  // All Time detection
  document.getElementById("all-time-detected").innerHTML = all_time_detected;

  // Today detection
  document.getElementById("today-detected").innerHTML = today_detected;

  // Weekly detection
  document.getElementById("weekly-detected").innerHTML = weekly_detected;

  // Monthly detection
  document.getElementById("monthly-detected").innerHTML = monthly_detected;

  // Monthly Overview

</script>
{% endblock %}
