{% extends "dashboard/dashboard_base.html" %}
{% block content %}
<div class="container ml-5 col-lg-12 col-md-12 col-xs-12">
  <div class="w-90 mx-auto pl-5 pt-5">
    <div class="h2 pt-2">Detection History</div>
    <hr>
    <div class="h5">Email Address: {{ mail_address }}</div>
    <div id="update_pass_email_field"></div>
    <div class="mt-3">
      <table id="detectionTable" class="table table-hover">
        <thead>
          <tr class="tr-header">
            <th class="text-center" scope="col">Sender</th>
            <th class="text-center" scope="col">Subject</th>
            <th class="text-center" scope="col">Detection Date</th>
          </tr>
        </thead>
        <tbody>
          {% for mail in phishing_mails %}
          <tr class="tr-bg">
            <td>{{ mail.get_sender_address() }}</td>
            <td>{{ mail.get_subject() }}</td>
            <td class="text-center">{{ mail.get_detected_on().strftime('%d-%m-%Y') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#detectionTable').DataTable( {
      "order": [[ 2, "desc" ]],
      "columnDefs" : [{"targets":2, "type":"date-eu"}]
    } );
  });
</script>

{% endblock %}
