body {
	font-family: "Lato", sans-serif;
	background-image: linear-gradient(to right, #fdfbfb 0%, #ebedee 100%);
}

.tr-bg{
	background-color: white;
}

.modal-dialog-instructionsModal{
	max-width: 650px;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
	background-color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #e2ebf0;
}

progress {
  border-radius: 7px;
  width: 100%;
  height: 22px;
}
progress::-webkit-progress-bar {
  background-color: #8a80ff;
  border-radius: 7px;
}
progress::-webkit-progress-value {
	background-color: #FFFFFF;
  border-radius: 7px;
}

.first {
	width: 35%;
	float:left;
	height: 420px;
}

.login-user{
	font-size: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
	color: white;
	font-family: "Lato", sans-serif;
}

.tab {
    display: inline-block;
    margin-left: 10px;
}

.detection-num{
	font-size:30px;
}

.bg-c-detection-admin{
	/* background-color:#63D3D3; */
	/* background-color: #00C0EF; */
	/* background-color:#b9dcf2; */
	/*background-image: linear-gradient(120deg, #accbee 0%, #e7f0fd 100%);*/
	font-size: 20px;
	height: 127px;
	border-bottom-color: #DA6666;
	border-bottom-width: thick;
	/* font-weight: bold;
	color: white; */
}

.bg-c-detect-admin{
	/* background-color:#63D3D3; */
	/* background-color: #00C0EF; */
	/* background-color:#b9dcf2; */
	/*background-image: linear-gradient(120deg, #accbee 0%, #e7f0fd 100%);*/
	font-size: 20px;
	height: 127px;
	border-bottom-color: #63D3D3;
	border-bottom-width: thick;
	/* font-weight: bold;
	color: white; */
}

.lni-color{
	color :#9890e3;
}

.bg-c-email{
	background-color: #8a80ff;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bg-c-today{
	background-color:#ffcf4d;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bg-c-weekly{
	background-color:#669cff;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bg-c-monthly{
	background-color:#ff8c66;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bg-c-all{
	background-color: #40f2a2;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bg-bar-chart{
	font-size: 20px;
	font-weight: bold;
}

.sidepanel{
	width: 260px;
	position: fixed;
	z-index : 1 ;
	height: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background-image: linear-gradient(to right, #209cff 0%, #1D92EF 100%);
	color: white;
}

.sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
	background-image: linear-gradient(to right, #209cff 0%, #1D92EF 100%);
	color: white;
	border-image: linear-gradient(to right, #209cff 0%, #1D92EF 100%);
}

.sidepanel a:hover {
	color: #84fab0;
}

.tr-header{
	color: #889B95;
}

.poppins {
	font-family: "Poppins", sans-serif;
	/* font-weight: bold; */
}
