body {
	font-family: "Lato", sans-serif;
}

.first {
	width: 35%;
	float:left;
	height: 420px;
}

.second {
	width: 35%;
	float:left;
	height: 420px;
}

.third {
	width: 30%;
	float:left;
	height: 420px;
 }

.loginuser{
	font-size: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
}

.tab {
    display: inline-block;
    margin-left: 240px;
}

.bg-c-email{
	background-image: linear-gradient( 135deg, #ABDCFF 10%, #70b1f0 100%);
	font-size: 20px;
	font-weight: bold;
}

.bg-c-today{
	/* background-color:#b9dcf2; */
	background-color:#F44336;
	font-family: system-ui;
	font-size: 20px;
	font-weight: bold;
}

.bg-c-weekly{
	background-color:#FF9800;
	/* background-color:#b9dcf2; */
	font-family: system-ui;
	font-size: 20px;
	font-weight: bold;
}

.bg-c-monthly{
	background-color:#2196F3;
	/* background-color:#b9dcf2; */
	font-family: system-ui;
	font-size: 20px;
	font-weight: bold;
}

.bg-c-all{
	background-color: #4CAF50;
	/* background-color:#b9dcf2; */
	font-family: system-ui;
	font-size: 20px;
	font-weight: bold;
}

.bg-bar-chart{
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	font-size: 20px;
	font-weight: bold;
}

.sidepanel  {
	width: 260px;
	position: fixed;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background-color: #F8F9FA;
	color: #6A6972;
}

.sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidepanel a:hover {
	color: #f1f1f1;
}


.poppins {
	font-family: "Poppins", sans-serif;
	/* font-weight: bold; */
}
