.text-lg {
  font-size: 150%;
}

body {
  background: -webkit-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -moz-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -ms-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -o-linear-gradient(180deg, #1dd0e7, #1970c2);
  /* background: linear-gradient(180deg, #1dd0e7, #1970c2); */
}

.sub-container {
  height:100%;
  margin: 10%;
  margin-left: 39%;
  position: relative;
  padding: 10px;
  background-color: #f9f9f9;
}

.round-radius {
  border-radius: 15px;
}

.red-text {
  color: red;
}
