.text-lg {
  font-size: 150%;
}

body {
  background: -webkit-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -moz-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -ms-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -o-linear-gradient(180deg, #1dd0e7, #1970c2);
  font-family: "Lato", sans-serif;
  /* background: linear-gradient(180deg, #1dd0e7, #1970c2); */
}

.h3{
  font-size: 26px;
	font-weight: bold;
}

.sub-container {
  margin: 150px auto 0 auto;
  min-height: 220px;
  max-width: 420px;
  padding: 40px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

.h5:before {
  width: 80px;
  height: 1px;
  background: #8e8e8e;
  position: absolute;
  top: 40%;
  left: 20%;
  content: '';
}

.h5:after {
  width: 80px;
  height: 1px;
  background: #8e8e8e;
  position: absolute;
  top: 40%;
  right: 20%;
  content: '';
}

.container-title-bar {
  margin: 10px 0 0 -58px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -31px;
  padding: 18px 10px 18px 60px;
  padding-top: 18px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 60px;
  border: 1px solid #ddd;
  /* background-image: linear-gradient(to right, #accbee 0%, white 100%); */
  /* background-image: linear-gradient(to right, #e6e9f0 0%, white 100%); */
  /* background-color: #6BBBFF; */
  background-color: #f7f2f0;
  /* background-color: #FA7897; */
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  /* background-image: linear-gradient(to right, #dfe9f3 0%, white 100%); */
  /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
  position: relative;
  color: #25283d;
  /* color: #8e8e8e; */
  /* color: #fff; */
  font-size: 22px;
  font-style: italic;
}

.container-title-bar:after{
    content: "";
    border-top: 15px solid #d2d2d2;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    bottom: -31px;
    left: -1px;
    transition: all 0.5s ease 0s;
}

.round-radius {
  border-radius: 15px;
}

.red-text {
  color: red;
}
