.text-lg {
  font-size: 150%;
}

body {
  background: -webkit-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -moz-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -ms-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -o-linear-gradient(180deg, #1dd0e7, #1970c2);
  /* background: linear-gradient(180deg, #1dd0e7, #1970c2); */
}

.sub-container {
  margin: 150px auto 0 auto;
  min-height: 420px;
  max-width: 420px;
  padding: 40px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

.h5:before {
  width: 80px;
  height: 1px;
  background: #8e8e8e;
  position: absolute;
  top: 40%;
  left: 20%;
  content: '';
}

.h5:after {
  width: 80px;
  height: 1px;
  background: #8e8e8e;
  position: absolute;
  top: 40%;
  right: 20%;
  content: '';
}

.login-bar {
  margin: 10px 0 0 -58px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -58px;
  padding: 18px 10px 18px 60px;
  padding-top: 18px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 60px;
  /* background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%); */
  /* background-image: linear-gradient(to left, #e6e9f0 0%, #eef1f5 100%); */
  background-image: linear-gradient(to right, #dfe9f3 0%, white 100%);
  position: relative;
  /* color: #1970c2; */
  color: #8e8e8e;
  font-size: 26px;
}

.round-radius {
  border-radius: 15px;
}

.red-text {
  color: red;
}
