.tab {
    display: inline-block;
    margin-left: 40px;
}

.ex1 {
  width: 900px;
  margin: auto;
  font-family: "Calibri", sans-serif;

}

h5{
  color:white;
  font-family: "Lato", sans-serif;
}

h3{
  color:white;
  font-family: "Lato", sans-serif;
}

h1{
  color:white;
  font-family: "Lato", sans-serif;
}

p{
  color:white;
  font-size: 18px;
}

body {
  background: -webkit-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -moz-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -ms-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: -o-linear-gradient(180deg, #1dd0e7, #1970c2);
  background: linear-gradient(180deg, #1dd0e7, #1970c2);
}
