{% include 'base.html' %}

<!--
==============================================================================
This HTML file is the custom base for admin portal. The page includes the navbar
on the left, and the block content of this page is meant for statistics only.
This page is also included in all other admin_base_.. files to include the navbar
for the pages.
This page is extended by admin index and included by all other admin pages.
==============================================================================
-->
<html class="no-js" lang="en">
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dash_style.css') }}">
	</head>

	<body>
		<!-- Page Content -->
		<div class="row">
			<div class="col-12 col-md-1">
				<div id="admin-panel" class="sidepanel" style="width: 250px;">
					<div class="loginuser">
						<img src="{{ url_for('static', filename='icons/logo.svg') }}" alt='Logo' width=40%>
						<span>{{ session['username'] }}</span>
					</div>
					<a href="{{ url_for('admin.index') }}" class="list-group-item list-group-item-action bg-light text-left lni lni-home pt-4 pb-4">
						<span class="pl-2 poppins">Dashboard</span>
					</a>
					<a href="{{ url_for('user.index_view') }}" class="list-group-item list-group-item-action bg-light text-left lni lni-users pt-4 pb-4">
						<span class="pl-2 poppins">Subscribers</span>
					</a>
					<a href="{{ url_for('emailaddress.index_view') }}" class="list-group-item list-group-item-action bg-light text-left lni lni-envelope pt-4 pb-4">
						<span class="pl-2 poppins">Email Address</span>
					</a>
					<a href="{{ url_for('phishingemail.index_view') }}" class="list-group-item list-group-item-action bg-light text-left lni lni-magnifier pt-4 pb-4">
						<span class="pl-2 poppins">Phishing Mails</span>
					</a>
					<a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action bg-light text-left lni lni-power-switch pt-4 pb-4">
						<span class="pl-2 poppins">Logout</span>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-10">
				<div class="container-fluid ml-5 pl-5 pt-5">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div class="col-12 col-md-1"></div>
		</div>
	</body>
</html>
