<!--
===============================================================================
This HTML file is the admin dashboard's HOMEPAGE. It extends the admin_menu.html
to get the side navbar. This page should contain statistics system-wide, similar
to the user dashboard (but that only shows for that particular user)
===============================================================================
-->
{% extends 'admin/admin_base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dash_style.css') }}">
{% block content %}
<div class="main-container">
  <div class="container ml-5 col-lg-12 col-md-12 col-xs-12">
    <div class="row">
      <div class="col-12">
        <span class="h2 pb-4 mt-5">Administrator Dashboard</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-body h5 pb-2">Users</div>
          <div class="chart-area pb-3">
            <canvas id="user_chart" width="109" height="46" class="pr-3"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-body h5 pb-2">Email Addresses</div>
          <div class="chart-area pb-3">
            <canvas id="email_chart" width="109" height="46" class="pr-3 pl-3"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-c-today-admin">
              <div class="card-body">
                Today's Detection
                <div class="row align-items-center pt-3">
                  <div class="col-4">
                    <i class="lni lni-envelope lni-32 lni-color"></i>
                  </div>
                  <div id="today-detected" class="col-8 text-right detection-num">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-c-all-time-admin">
              <div class="card-body">
                All Time Detection
                <div class="row align-items-center pt-3">
                  <div class="col-4">
                    <i class="lni lni-envelope lni-32 lni-color"></i>
                  </div>
                  <div id="all-time-detected" class="col-8 text-right detection-num">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body h5 pb-3">Monthly Overview of Detected Phishing Emails</div>
          <div class="chart-area">
            <canvas id="overview" class="chart-canvas" width="1000" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // -- Chart Context START
  var ctx = document.getElementById("overview");
  var users = document.getElementById("user_chart");
  var emails = document.getElementById("email_chart");
  // -- Chart Context END

  // -- Statistic values START
  var dates = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var users_stats = {{ statistics['user_stats'] }}
  var email_stats = {{ statistics['email_stats'] }}
  var monthly_stats = {{ monthly_stats }}

  // Card values
  var all_time_detected = {{ statistics['all_time'] }}
  var today_detected = {{ statistics['today'] }}
  // -- Statistic values END

  // -- Card values START
  // All Time detection
  $("#all-time-detected").text(all_time_detected);
  // document.getElementById("all-time-detected").innerHTML = all_time_detected;

  // Today detection
  // document.getElementById("today-detected").innerHTML = today_detected;
  $("#today-detected").text(today_detected);

  // -- Pie Charts START
  var user_chart = new Chart(users, {
    type: "pie",
    data: {
      indexLabelFontSize : 26,
      labels: ["Active Users", "Inactive Users"],
      datasets: [
      {
        data: users_stats,
        backgroundColor: ["#6DD6DA", "#95D9DA"],
      }
      ]
    },
    options:{
      responsive: true,
      legend: {
        display: true,
        position: "right",
        labels: {
          fontSize: 14
        }
      }
    }
  });

  var email_chart = new Chart(emails, {
    type: "pie",
    data: {
      labels: ["Active Addresses", "Inactive Addresses"],
      datasets: [
      {
        data: email_stats,
        backgroundColor: ["#88CCF1", "#C1DFF0"]
      }
      ]
    },
    options:{
      legend:{
        position: "right",
        labels:{
          fontSize: 14
        }
      }
    }
  });
  // -- Pie Charts END

  // -- Bar Chart START
  var overview = new Chart(ctx, {
    type: "bar",
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                stepSize: 20
            }
        }]
      }
    },
    data: {
      labels: dates,
      datasets: [
      {
        data: monthly_stats,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor:  [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 2,
        barThickness: 6,
        maxBarThickness: 8,
        minBarLength: 4,
      }
      ],
    }
  });
  // -- Bar Chart END
</script>
{% endblock %}
