{% extends "base.html" %}

{% block content %}

<span class="h1"> User Dashboard </span><br/>
<span class="h2"> Currently logged in: <b>{{ current_user }}</b></span><br/>

<a href="{{ url_for('logout') }}">Logout</a>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  {{ form.email_address.label}}
  {{ form.email_address(size=32) }}

  {% for error in form.email_address.errors %}
    <span> {{ error }} </span>
  {% endfor %}

  </br>
  {{ form.password.label }}
  {{ form.password }}
  </br>
  {{ form.submit }}
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h2> {{ message }} </h2>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="card mt-5">
  <div class="card-body">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Phishing Emails Detected</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Active Status</th>
        </tr>
      </thead>
      <tbody>
        {% for email in user_emails %}
        <tr>
          <td>{{ email.email_address }}</td>
          <td>{{ email.phishing_mail_detected }}</td>
          <td>{{ email.last_updated }}</td>
          <td> {{ email.active }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
