{% include "base.html" %}
<!doctype html>

<html class="no-js" lang="en">
	<!-- not in use i think -->
	<link rel="stylesheet/css" href="{{ url_for('static', filename='style.css') }}">

	<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Dashboard </div>
			<div class="list-group list-group-flush">
				<a href="{{ url_for('dashboard') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
				<a href="{{ url_for('dash_account') }}" class="list-group-item list-group-item-action bg-light">Account</a>
				<a href="{{ url_for('dash_email') }}" class="list-group-item list-group-item-action bg-light">Emails</a>
				<a href="{{ url_for('index') }}" class="list-group-item list-group-item-action bg-light">Homepage</a>
				<a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action bg-light">Logout</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
	</html>
