{% extends "base.html" %}

{% block content %}
		
		<head>
		<style>
        img.logo
        {
  					width: 140px;
  					margin-left:400%;
        }
        img.aboutus2
        {
  					width: 500px;
        }
        .leftbox
        {
        	float: left;
        	margin-left:28%;
        }
        
        .rightbox
        {
        	width:400px;
        	margin-left:55%;
        }
		</style>
		</head>
		
		</br></br></br></br>
		<a href="{{ url_for('index') }}">
		<img src="{{ url_for('static', filename='icons/logo.svg') }}" class="logo" alt='Logo' >
		</a>
		
		<hr style="margin-left:28%" width="40%" color=blue>
		<div class="leftbox"></br></br>
		<img src="{{ url_for('static', filename='images/about_us2.svg') }}" class="aboutus2" alt='About Us 2' >
		</div>
		
		<div class="rightbox">
		<h4>Login</h4>
    <hr width="63%" color=blue>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=21) }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
       	<p>
            {{ form.password.label }}</br>
            {{ form.password(size=21) }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit(class='btn btn-outline-secondary') }}</p></br>
				<p>
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Forget your password?</a><br/>
        </p>
        <hr width="63%" color=blue>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span class="alert alert-danger m2"> {{ message }} </span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h4>New User?</h4></br>
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Sign up with us</a><br/>
        <hr width="63%" color=blue></br>
        </div>
        
{% endblock %}
