{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_reg_style.css') }}">
<div class="main-container pt-5">
    <div class="sub-container w-25 p-3 mb-4 round-radius">
        <div class="container-title-bar">L O G I N</div>
        <div class="row justify-content-center mt-2">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="row mt-2 mb-2 justify-content-center">
                    <div class="col-md-12">
                        {{ form.username(size=33, class='form-control text-center') }}
                    </div>
                </div>
                <div class="row mt-2 mb-2 justify-content-center">
                    <div class="col-md-12">
                        {{ form.password(size=33, class='form-control text-center')}}
                    </div>
                </div>
                <div class="row mt-2 mb-2 justify-content-center">
                    <div class="col-xs-6">
                        {{ form.remember_me() }} {{ form.remember_me.label }}
                    </div>
                </div>
                {% if form.errors %}
                  {% for error in form.password.errors %}
                  <div class="row justify-content-center">
                    <div class="alert alert-danger">{{ error }}</div>
                  </div>
                  {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn">
                        <div class="login">
                            {{ form.submit(class='main-btn w-100') }}
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn">
                        <div class="login-existing">
                            <a href="{{ url_for('reset') }}" class="main-btn">Forget your password?</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        <span class="alert alert-danger m2"> {{ message }} </span>
                                    {% elif category == 'success' %}
                                        <span class="alert alert-success m2"> {{ message }} </span>
                                    {% endif%}
                                {% endfor %}
                            {% endif%}
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center mt-2 mb-2 animated fadeIn">
                        <p>New here? <a href="{{ url_for('register') }}"><u>Sign up with us!</u></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="particles-2" class="particles"></div>
</div>

<!-- JQuery to replace hrefs in navbar to index#<section> -->
<script>
    $("#home-nav").attr("href", "{{url_for('index') }}");
    $("#feature-nav").attr("href", "{{url_for('index') }}#features");
    $("#about-nav").attr("href", "{{url_for('index') }}#about");
    $("#facts-nav").attr("href", "{{url_for('index') }}#facts");
    $("#footer-nav").attr("href", "{{url_for('index') }}#footer");
    $('a[name="login"]').remove();

    // navbar
    $('.navbar-area').addClass('sticky');
    $(".navbar .navbar-brand img").attr("src", "/static/icons/logo_word_black.svg");

</script>
{% endblock %}
