{% extends "base.html" %}

{% block content %}
		</br>
		</br>
		</br>
		</br>
		<hr width="50%" color= blue size=2>
		<head>
		<style>
				p.margin
        {
        		margin-left:1100px
        }
		</style>
		</head>
		<div> <img src="{{ url_for('static', filename='icons/logo.svg') }}" alt='Logo' width='500px'></div>
		<h4 style="margin-left:1100px">Login</h4>
    <hr style="margin-left:57%" width="18%" color=blue>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="margin">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
       	<p class="margin">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p class="margin">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p class="margin">{{ form.submit(class='btn btn-outline-secondary') }}</p>
				<p class="margin">
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Forget your password?</a><br/>
        </p>
        <hr style="margin-left:57%" width="18%" color=blue>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span class="alert alert-danger m2"> {{ message }} </span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h4 style="margin-left:1100px">New User?</h4></br>
        <p class="margin">
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Sign up with us</a><br/>
        </p>
        <hr style="margin-left:57%" width="18%" color=blue>
    </form>
{% endblock %}
