{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/term_privacy_style.css') }}">
<div class="main-container mt-5">
    <div class="container ex1">
        <div class="row">
            <div class="mt-5 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <h3>PRIVACY POLICY</h3>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>GENERAL</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>We, Piscator, are committed to safeguarding your privacy.
                    We treat all personal data provided by you in strict confidence
                    and will only use your personal data in the manner set out in this privacy policy.
                    This privacy policy applies to all personal data that you provide
                    to us and the personal data we hold about you.
                    This policy describes how we may collect, use, disclose,
                    process and manage your personal data.
                    Please DO NOT provide any personal data to us if you do not accept this policy.</p>
                <p>Information provided by organisations to us for business
                  purposes is not considered personal data.
                  This Policy does not apply to such business contact information.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>AMENDMENT OF PRIVACY POLICY</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>We may amend this privacy policy from time to time.
                  The updated privacy policy will be made available at the website:</p>
                <a href="{{ url_for('index') }}">Project Piscator</a>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>ANONYMOUS BROWSING AT OUR WEBSITE</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>Anonymity is maintained when our website <a href="{{ url_for('index') }}"> Project Piscator </a> is visited.
                  Our website is not configured to gather any personally
                  identifiable information from your computer.
                  Unless you personally and intentionally provide us with your information,
                  we will not know your identity,
                  email address or any other information that is related to you.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>HOW IS PERSONAL DATA COLLECTED USED</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>Our primary goal in collecting your personal data is to serve you better. This includes: -</p>
                <p><span class="tab">&#8226; providing you with the services that you have requested.</span></p>
                <p><span class="tab">&#8226; contacting you for feedback after the provision of our services.</span></p>
                <p>We may also use your personal data for purposes connected or relevant to our services, such as: -</p>
                <p><span class="tab">&#8226; complying with our legal obligations and requirements.</span></p>
                <p><span class="tab">&#8226; enforcing obligations owed to us.</span></p>
                <p><span class="tab">&#8226; research into the development of new products and services or
                              improvement of our existing products and services.</span></p>
                <p><span class="tab">&#8226; accounting, risk management and record keeping.</span></p>
                <p><span class="tab">&#8226; carrying out research, planning and statistical analysis.</span></p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <p>If you have consented, we may use your personal data for
                    the purposes of marketing our products and services e.g.
                    informing you of our latest activities. We may analyse and
                    rely on your overall interaction with us.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <p>If you have contacted us with any complaints, feedback, comments or suggestions,
                    we may use and disclose your personal data (including your contact history) to respond to you.
                    When using your personal data to contact you for the above purposes,
                    we may contact you via e-mail, SMS, telephone or any other means.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>DISCLOSURE OF INFORMATION</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>We will not sell your personal data to third parties.</p>
                <p>You agree that we may disclose or share your personal data with
                  third parties who provide necessary services to us, such as:-</p>
                <p><span class="tab">&#8226; service providers and data processors
                  working on our behalf and providing services such as hosting
                  and maintenance services, analysis services etc. </span></p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>SECURITY</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>While precautions will be taken to ensure that the information
                  you provide is protected against unauthorised or unintended
                  access, we cannot be held responsible for unauthorised or
                  unintended access that is beyond our control.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>LINKS TO OTHER WEBSITES</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>Our websites may contain links to other websites which are
                  not owned or maintained by us. These links are provided only
                  for your convenience. This privacy policy only applies to our
                  website. When visiting these third-party websites, you should
                  read their privacy policies.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <h5>GOVERNING LAW</h5>
                </div>
            </div>
            <div class="col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>This privacy policy is governed by the laws of Singapore.
                  You consent to submit to the exclusive jurisdiction of the
                  Courts of Singapore in any dispute relating to this privacy policy.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                </div>
            </div>
            <div id="particles-2" class="particles"></div>
            <a href="#" class="back-to-top-always-on"><i class="lni lni-chevron-up"></i></a>
    </div>
    </div>

{% endblock %}
