{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_reg_style.css') }}">
<div class="main-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 justify-content-center">
        <div class="logo mt-3 w-100 animated fadeInDown d-flex justify-content-center" style="margin-left:-8%"> <!-- play cheat margin to make text centered-->
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='icons/logo_word.svg') }}" alt='Logo' >
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container w-25 p-4 mb-5 round-radius" style="background-color: #f9f9f9">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center animated fadeIn">
      <div class="login-existing">
        <a class="main-btn" href="{{ url_for('login') }}">Login to existing Account</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-2 mb-2 animated fadeIn">
      <div class="text-lg font-weight-bold">Or</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-2 mb-2 animated fadeIn">
      <div class="h1">Create a new Account</div>
    </div>
  </div>
  <div class="row justify-content-center">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mt-2 mb-2 justify-content-center">
          <div class="col-xs-6 purple-border">
            {{ form.username(size=33, class='form-control text-center') }}
          </div>
        </div>
        <div class="row mt-2 mb-2 justify-content-center">
          <div class="col-xs-6 purple-border">
            {{ form.password(size=33, class='form-control text-center')}}
          </div>
        </div>
        <div class="row mt-2 mb-2 justify-content-center">
          <div class="col-xs-6 purple-border">
            {{ form.confirm_password(size=33, class='form-control text-center') }}
          </div>
          {% for error in form.confirm_password.errors %}
              <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="row justify-content-center mt-2 mb-2">
          {{ form.recaptcha }}
        </div>
        <div class="row justify-content-center mt-2 mb-2">
          {{ form.submit(class='main-btn w-75') }}
        </div>
      </form>
    </div>
  </div>
  <div id="particles-2" class="particles"></div>
</div>
{% endblock %}
