{% extends "base.html" %}
<script>
  $( function() {
    $( document ).tooltip();
  } );
  </script>

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_reg_style.css') }}">
<div class="main-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 justify-content-center">
                <div class="logo mt-3 w-100 animated fadeInDown d-flex justify-content-center" style="margin-left:10%">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='icons/logo_word.svg') }}" alt='Logo' width=70%>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container w-25 p-3 mb-4 round-radius" style="background-color: #f9f9f9">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-2 mb-2 animated fadeIn">
                <div class="h3">Reset Password</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="row mt-2 mb-2 justify-content-center">
                    <div class="col-xs-6 purple-border">
                        {{ form.username(size=33, class='form-control text-center') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn">
                        <div class="reset">
                            {{ form.email_address(size=33, class='form-control text-center') }}
                            <p class="text-center">
                                <a href="#" data-toggle="tooltip"
                                title="'Email Address' can be any that is registered with the account (make sure you have access to this email!).">
                                What is 'Email Address'?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn mt-2">
                        <div class="reset">
                            {{ form.submit(class='main-btn w-100') }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center animated fadeIn pt-2">
                      {% if form.errors %}
                        {% for error in form.username.errors %}
                          <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                      {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endfor %}
                          {% endif %}
                      {% endwith %}
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-2 mb-2 animated fadeIn">
                <p>Remember your password? <a href="{{ url_for('login') }}"><u>Return to Login.</u></a></p>
            </div>
        </div>
    </div>
    <div id="particles-2" class="particles"></div>
</div>
{% endblock %}
