{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/term_privacy_style.css') }}">
<div class="main-container mt-5">
    <div class="container ex1">
        <div class="row">
            <div class="mt-5 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <h3>TERMS AND CONDITIONS OF USE</h3>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>By using our services, you agree that Piscator</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>may collect your personal data, or (if applicable) obtained
                    by our software as a result of your subscription, for the
                    following purposes in accordance with the Personal Data
                    Protection Act 2012 and our data protection policy
                    <a href="{{ url_for('privacy') }}">Privacy Policy</a> :</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>(a) the processing of this subscription application; and</p>
                <p>(b) the administration of the subscription with our services.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>Please visit our website at for further details on our
                    data protection policy, including how you may access and
                    correct your personal data or withdraw subscription to the
                    collection and processing of your personal data.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <h5>USE OF WEBSITE</h5>
              </div>
            </div>
            <div class="col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>In the course of using the Website, you may be submitting
                    information and materials (” Submissions”). Submissions
                    (other than personal data) are provided on a non-proprietary
                    and non-confidential basis. You grant us the right to display,
                    modify and re-format such Submissions as we deem fit.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>You shall not, except as permitted under applicable law,
                  modify, adapt, translate, decompile, alter, disassemble,
                  reverse engineer or create derivative works from any Content
                  or copy, reproduce, republish, upload, post, transmit, distribute
                  or otherwise communicate or caused to be displayed to the public
                  any Content without our prior written permission.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <p>You shall not employ misleading e-mail addresses or falsify
                    information in the header, footer, return path, or any part
                    of any communication transmitted through this Website.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown d-flex justify-content-center">
                  <p>You shall not use any “robot,” “spider”, “crawler” or other
                    automated device, or a program, algorithm or methodology having
                    similar processes or functionality, or any manual process,
                    to monitor or copy any of the web pages, data or content found
                    on this Website, in any case without our prior written permission.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>You shall not take any action or otherwise use any device,
                    software or routine to interfere or attempt to interfere with
                    the proper working of this Website.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>You must not interfere or attempt to interfere with services we provide on
                  the Website (“denial of service attacks”) including,
                  but not limited to, “flooding” of networks, deliberate attempts
                  to overload a service, attempts to “crash” us and taking any
                  action that imposes an unreasonable or disproportionately large
                  load on the services provided by us or the associated infrastructure.
                  You must not use any kind of program/script/command/application,
                  or send messages of any kind, designed to, in any manner
                  interfere with any user’s terminal session.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>You will not circumvent or attempt to circumvent user
                    authentication or security measures (“cracking”) of any
                    Internet or intranet site or any of the accounts of our any
                    other person using the Website, including but not limited to,
                    accessing data and/or information not intended for you,
                    logging into an account you are not expressly authorised to
                    access or in a manner which is not authorised by us. You
                    shall not upload files that are corrupted, contain viruses
                    or any other similar software or programs which may damage
                    the Website or cause interference to the services provided by us.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>You must not publish, transmit, post, upload or maintain any
                  defamatory, obscene, threatening, malicious or otherwise
                  objectionable material, or any other material in violation of
                  any statute, rule or regulation in any jurisdiction to which
                  you are subject.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>You must not publish, transmit, post, upload or maintain any
                    content or material that is inaccurate or that violates or
                    infringes the right of a third party, including, without
                    limitation, contractual, moral, or privacy rights.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
              <div class="w-100 animated fadeInDown">
                <p>You must not use the Website for any illegal purposes
                  (or to solicit any illegal act) in any jurisdiction to which
                  you are subject.</p>
              </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>We reserve the right to monitor usage of this Website by
                    any person and have the sole discretion to refuse access or
                    use by any person at any time without having to give any
                    reason or any prior notice.</p>
                </div>
            </div>
            <div class="mt-5 col-md-12">
              <div class="w-100 animated fadeInDown">
                <h5>LINKS TO THIS WEBSITE FROM OTHER WEBSITES</h5>
              </div>
            </div>
            <div class="col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>Caching or framing of or linking to this Website or any of
                    its contents thereof, is strictly prohibited.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>You may link to this website only with our prior written
                    permission, which may be subject to conditions. We reserve
                    the right to change the URL of this Website without prior
                    notice to you. </p>
                </div>
            </div>
            <div class="mt-5 col-md-12">
              <div class="w-100 animated fadeInDown">
                <h5>SECURITY</h5>
              </div>
            </div>
            <div class="col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>Where appropriate, we use available technology to protect
                    the security of communication made through the Website.
                    However, we do not accept liability for the security,
                    authenticity, integrity or confidentiality of any
                    transactions and other communications made through the Website.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>Internet communications may be susceptible to interference
                    or interception by third parties. Despite the best efforts,
                    we make no warranties that the Website is free of infection
                    by computer viruses or other unauthorised software.</p>
                </div>
            </div>
            <div class="mt-5 col-md-12">
              <div class="w-100 animated fadeInDown">
                <h5>GENERAL PROVISIONS</h5>
              </div>
            </div>
            <div class="col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>These Terms constitute the entire agreement between you
                    and us and supersede any prior agreements.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>These Terms are for the benefit of and binds you and us
                    and our respective successors and assigns. You shall not
                    assign your rights or transfer your obligations and duties
                    under these Terms to any third party without our prior
                    written consent. We may freely assign our rights or transfer
                    our obligations and duties under these Terms.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>No amendment of these Terms by you shall be binding unless
                    it is made in writing and signed by you and us. Any waiver
                    of rights shall be in writing and shall not prevent you or
                    us from exercising the same or any other right in future.
                    The invalidity, illegality or unenforceability of any part
                    of these Terms shall not affect the validity, legality and
                    enforceability of the other parts of these Terms.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>The rights and remedies under these Terms are cumulative
                    and not exclusive of any other right or remedy provided by
                    law or equity.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>No third party shall have any right to enforce any of these
                    provisions under the Contracts (Right of Third Party)
                    Act (Cap.53B) or any other theory of law.</p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                  <p>The headings used in these Terms are included for
                    convenience only and will not limit or otherwise
                    affect the provisions herein. </p>
                </div>
            </div>
            <div class="mt-4 col-md-12">
                <div class="w-100 animated fadeInDown">
                </div>
            </div>
        </div>
        <div id="particles-2" class="particles"></div>
        <a href="#" class="back-to-top-always-on"><i class="lni lni-chevron-up"></i></a>
    </div>
</div>

{% endblock %}
